/* @import './base.css'; */

h1,h2,h3,h4,h5,h6,body,p,ul,form,dl,dd,dt{
  padding: 0;
  margin: 0;
}
a,a:visited{
  text-decoration: none;
  color: #000;
}
ul,ol,li{
  list-style:none;
}
img{
  display: block;
  border: none;
}
body{
  min-width: 320px;
  max-width:1280px;
  margin: 0 auto;
}
:root{
  --yuan-main-color:#c00;
  /* color:var(--yuan-main-color); */
}